.wrapper{
    display: grid;
    margin: 0;
    position: fixed; /* dont change it, vh does not work on mobiles with bottom footer */
    top: 30px;
    right: 0;
    left: 0;
    bottom: 5px;
    height: auto;
    overflow: hidden;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
            "submenu submenu submenu"
            "sidebar_left main sidebar_right";
}

body {
    margin: 0; padding: 0;
    background-color: #637686;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 1.4;
    font-weight: normal;
    overflow: hidden;
}

/* ========== left sidebar ================================================== */

.sidebar_left{
    margin-top: 50px;
    grid-area: sidebar_left;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #323a3c;
    padding: 0 5px 5px 0;
    margin-right: 5px;
    overflow: hidden;
    align-self: start;
    width: 40px;
    max-height: 100%;
}
.sidebar_left .item{
    position: relative;
    display:block;
    background-color: #464d4f;
    height: 25px;
    width: 30px;
    margin: 5px 0 0 5px;
    overflow: hidden;
    cursor: pointer;
}
.sidebar_left .item:after{
    position: absolute;
    content: '';
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.sidebar_left .item:hover{
    background-color: #575f62;
}
.sidebar_left .item.active{
    background-color: #adecab;
    color: #215b2a;
}

.sidebar_left .select:after{ background-image: url('../image/selection.svg'); }
.sidebar_left .move:after{ background-image: url('../image/tap.svg'); }
.sidebar_left .pencil:after{ background-image: url('../image/pen.svg'); }
.sidebar_left .eraser:after{ background-image: url('../image/eraser.svg'); }
.sidebar_left .shape:after{ background-image: url('../image/shapes.svg'); }
.sidebar_left .copy:after{ background-image: url('../image/copy.svg'); }
.sidebar_left .paste:after{ background-image: url('../image/paste.svg'); }
.sidebar_left .line:after{ background-image: url('../image/diagonal-line.svg'); }
.sidebar_left .btnClrArl:after{ background-image: url('../image/stamp.svg'); }
.sidebar_left .stamp:after{ background-image: url('../image/stamp.svg'); }
.sidebar_left .text:after{ background-image: url('../image/text.svg'); }
.sidebar_left .history:after{ background-image: url('../image/history.svg'); }

.middle_area {
    position: relative;
    grid-area: main;
}

.main_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas_wrapper {
    position: relative;
    width: calc(100% - 70px);
    height: calc(100% - 70px);
}

.canvas_wrapper canvas {
    border: 1px solid #727677;
}

.canvas_wrapper canvas {
    position: absolute;
    box-sizing: content-box;
    font-kerning: normal !important;
}

#mouse{
    position:absolute;
    pointer-events:none;
    width:10px;
    height:10px;
    z-index:10;
}
#mouse.rect{
    border:1px solid rgba(0,0,0,0.5);
}
#mouse.circle{
    border:1px solid rgba(0,0,0,0.5);
    border-radius:50%;
}

.transparent-grid{
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAQElEQVQ4T2N89+7dfwYigKCgIBGqGBgYRw3EGU6jYYgzaIZAsvn//z9ROeX9+/fE5ZRRA3GG02gY4s4pgz7ZAAAnSWvHPkHXaAAAAABJRU5ErkJggg==') repeat top left;
    z-index: -1;
}

.transparent-grid.white{
    background:white;
}
.transparent-grid.green{
    background: #5be471;
}
.transparent-grid.grey{
    background: #dfdfdf;
}

.error{
    padding:20px;
    margin:10px;
    border:1px solid #ff0000;
    background-color:#ffffff;
    width:500px;
    font-weight:bold;
}

.submenu{
    grid-area: submenu;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    background-color: var(--section-background-color);
    overflow: hidden;
    margin-bottom: 5px;
}

.attributes{
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--area-background-color);
    width: calc(100% - 70px);
    margin-top: 5px;
    margin-bottom: 5px !important;
    padding: 3px 10px 3px 10px;
    border: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 30px;
}
.attributes .item{
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
}
.attributes .item > label {
    margin: 0 .5rem 0 0;
    color: #fff;
}
.attributes input[type="number"]{
    width: 60px;
    margin-right: 5px;
}
.attributes input[type="color"] {
    cursor: pointer;
    padding: 0;
    border: .2rem solid var(--scrollbar-thumb-color);
    width: 3rem;
}
.attributes .item > button:not(.ui_icon_button){
    display: inline-block;
    padding: 3px 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.block{
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    background-color: var(--block-background-color);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color);
    margin-bottom: 10px;
    user-select: none;
    border-radius: 4px;
}
.sidebar_right .block{
    background-color: #68727b;
    background-color: var(--block-background-color);
    border-bottom: none;
    box-shadow: 0 -2px 0 0 var(--header-background-color) inset;
}
.block:last-child{
    margin-bottom: 0;
}
.block h2{
    position: relative;
    padding: 2px 5px 2px 6px;
    margin: 0;
    font-size: 110%;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: var(--header-background-color);
    border-bottom: #555;
    border-radius: 4px 4px 0 0;
}
.block.toggled h2, .block h2.toggled:after{
    border: none;
}
.block h2.toggle:before{
    /* icon */
    position:absolute;
    content:'';
    width: 0;
    height: 0;
    right: 10px;
    top: 10px;
    border-style: solid;
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #80937d transparent;
}
.block h2.toggled:before{
    /* icon */
    border-width: 5px 4px 0 4px;
    border-color: var(--text-color-muted) transparent transparent transparent;
}
.block .content{
    padding: 7.5px 5px;
}
.block_section {
    margin: .75rem 0;
}
.block_section:first-child {
    margin-top: 0;
}
.block_section:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:700px){
    body{
        padding-top:50px;
    }
    .wrapper{
        top: 50px;
    }
}
@media screen and (max-width:550px){
    .canvas_wrapper{
        margin-left: 0px;
    }
}
@media screen and (max-height: 740px){
    .sidebar_left{
        width: 75px;
    }
}
@media screen and (max-height:450px){
    .sidebar_left{
        width: 88px;
    }
}